.individual-candidate-container {
    width: 95%;
    margin: 0 2.5%;
}

.individual-candidate-name {
    font-size: 36px;
    font-weight: bold;
}

.individual-candidate-information {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.candidate-stats {
    font-size: 24px;
}

@media screen and (min-width: 1000px) {
    .individual-candidate-container {
        width: 55%;
        float: left;
        height: 100%;
        margin: 0px;
    }
}