.dashboard {
    display: block;
}

.search {
    float: left;
    height: 100%;
    overflow-y: auto;
}

.team-preview-container {
    width: 100%;
}

.D {
    background: linear-gradient(to right,#3b5ea0,#E7E6E1)
}

.R {
    background: linear-gradient(to right,#dd5349,#E7E6E1);
}

.icon-credit {
    display: block;
    margin: 15px;
}

.mobile-focus {
    width: 100%;
}

.menu-display {
    position: absolute;
    right: 0px;
    top: 77.14px;
    width: 300px;
    background-color: #E7E6E1;
}

.menu-item {
    display: block;
    margin: 0px;
    padding: 5% 10%;
    font-size: 24px;
    color: #537791;
    text-decoration: none;
    border: 3px outset #537791;
}

.menu-header {
    text-align: center;
    font-size: 30px;
    background-color: #F7F6E7;
}

@media screen and (min-width: 1000px) {
    .search {
        width: 55%;
    }
}