.dashboard {
    display: block;
}

.search {
    float: left;
    height: 100%;
    overflow-y: auto;
}

.team-preview-container {
    width: 100%;
}

.D {
    background: linear-gradient(to right,#3b5ea0,#f4f7f8)
}

.R {
    background: linear-gradient(to right,#dd5349,#f4f7f8);
}

.I {
    background: linear-gradient(to right,#0B6623,#f4f7f8);
}

.icon-credit {
    display: block;
    margin: 15px;
}

.mobile-focus {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .search {
        width: 55%;
    }
}