.sorting-options {
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 35%;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-bottom: 10px;
    width: 95%;
}

select {
    color: #212121;
    background: transparent;
    font-size: 16px;
    padding: 2px 10px;
    background: rgba(255, 255, 255, 0.8);
}
