#fantasy-congress-2018-logo {
    width: 60%;
}

#fantasy-congress-2018-logo-thumbnail {
    width: 100px;
    margin: 10px;
}

.header-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.landing-page {
    text-align: center;
}

.logged-in {
    text-align: left;
}

#logout-button {
    position: absolute;
    right: 10px;
    top: 25px;
}

.hamburger {
    width: 24px;
    height: 24px;
    border: 1px solid #C1C0B9;
    border-radius: 2px;
    box-shadow: 0 0 2px #C1C0B9;
    padding: 10px;
    transition: background-color 1s ease;
    margin: 10px;
}

.hamburger:hover {
    background-color: #F7F6E7;
}

.hamburger-stripe {
    background-color: #537791;
    height: 3px;
    width: 24px;
    transition: .5s;
}

.top-stripe {
    margin-top: 3px;
}

.middle-stripe {
    margin: 5px 0px;
}

.menu-visible .top-stripe {
    transform: rotate(-45deg) translate(-5.5px, 6px) ;
}

.menu-visible .middle-stripe {
    opacity: 0;
}

.menu-visible .bottom-stripe {
    transform: rotate(45deg) translate(-5px, -6px) ;
}

.desktop {
    display: none;
}

@media screen and (min-width: 1000px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}