.menu-display {
    position: absolute;
    right: 0px;
    top: 78px;
    width: 300px;
    background-color: #E7E6E1;
}

.menu-item {
    display: block;
    margin: 0px;
    padding: 5% 10%;
    font-size: 24px;
    color: #537791;
    text-decoration: none;
    border-top: 1px solid #537791;
    border-left: 1px solid #537791;
}

.bottom-menu-item {
    border-bottom: 1px solid #537791;
}