li {
    border: solid 1px gray;
    padding: 10px;
    line-height: 1.35;
}

.member-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-name {
    font-weight: bold;
    font-size: 30px;
}

.member-congress-info {
    font-size: 24px;
}

.member-headshot {
    width: 50px;
    border-radius: 50%;
    border: 1px solid #C1C0B9;
    box-shadow: 0 0 2px #C1C0B9;
    margin: 10px;
}

.member-price {
    font-size: 36px;
    font-weight: bold;
}

.empty-roster-spot {
    background-color: lightgray;
}

.adding-member {
    text-align: center;
}