.team-preview {
    margin: 0 2.5%;
    margin-bottom: 15px;
}

.candidate-preview-container {
    display: flex;
    align-items: center;
    height: 25px;
}

.team-name-link {
    color: #212121;
}

.team-name-text {
    font-weight: bold;
}

.team-page-link {
    text-decoration: none;
}

.empty-preview {
    background-color: #E7E6E1;
}

.democrat-preview {
    background-color: #3b5ea0;
}

.republican-preview {
    background-color: #dd5349;
}

.independent-preview {
    background-color: #5b456f;
}

.candidate-box {
    width: 8px;
    height: 8px;
    margin: 0px 5px;
    border: 1px solid #C1C0B9;
}

.team-information-preview-container {
    background: #f4f7f8;
    color: #212121;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.overbudget {
    color: red;
}

.underbudget {
    color: green;
}

.mobile-preview {
    font-size: 16px;
    line-height: 1.5;
    padding: 0px;
    margin-left: 10px;
}

p {
    margin: 0px;
}

.members-submit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.senate-submit-team-preview {
    text-align: center;
    margin-top: 10px;
}

@media screen and (min-width: 450px) {
    .members-submit-container {
        flex-direction: row;
        align-items: center;
    }

    .senate-submit-team-preview {
        margin-top: 0px;
    }
}