.team-page {
    float: left;
    width: 95%;
    margin: 0 2.5%;
    margin-bottom: 15px;
}

.candidate-preview-container {
    display: flex;
    align-items: center;
    height: 20px;
}

.team-information-container {
    background: #f4f7f8;
    color: #212121;
    padding: 20px;
    border-radius: 8px;
}

.submit-button-container {
    width: 100%;
    text-align: center;
}

.submit-button {
    margin-top: 20px;
    font-size: 24px;
}

.budget {
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

.overbudget {
    color: red;
}

.underbudget {
    color: green;
}

.team-name {
    font-size: 30px;
    font-weight: bold;
}

.manager {
    font-size: 16px;
}

.mobile-preview {
    font-size: 16px;
    padding: 0px;
}

.hide-preview-info {
    display: none;
}

@media screen and (min-width: 1000px) {
    .mobile-only {
        display: none;
    }

    .team-page {
        float: left;
        height: 100%;
        width: 43.5%;
        overflow-y: auto;
        margin: 0;
    }
}