.team-page {
    float: left;
    height: 100%;
    width: 40%;
    overflow-y: auto;
}

.header {
    padding-left: 40px;
}

.submit-button-container {
    width: 100%;
    text-align: center;
}

.submit-button {
    margin-top: 20px;
    font-size: 24px;
}

.budget {
    padding-left: 40px;
    font-size: 24px;
    font-weight: bold;
}

.overbudget {
    color: red;
}

.underbudget {
    color: green;
}

.team-name {
    font-size: 30px;
    font-weight: bold;
}

.manager {
    font-size: 16px;
}